/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

.cpcache/
.env

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
/.lsp
/.calva
/.clj-kondo/.cache

demo/node_modules/
demo/js/dist/
demo/.cpcache
demo/.shadow-cljs/
demo/public/js/
demo/dist/
/dist
.DS_Store
